<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lab.model.user">
    <!-- 단일행 조회를 위한 기능 정의 -->
    <select id="selectItem"
            parameterType="string"
            resultMap="lab.spring.user.User">
        SELECT * FROM userinfo WHERE userid=#{userid} 
    </select>

    <!-- 다중행 조회를 위한 기능 정의 -->
    <select id="selectList"
            parameterType="lab.spring.user.User"
            resultMap="lab.spring.user.User">
        SELECT * FROM userinfo ORDER BY uno ASC
    </select>

    <!-- 데이터 수 조회를 위한 기능 정의 -->
    <select id="selectCount"
            resultType="int">
        SELECT COUNT(*) FROM userinfo
    </select>

    <!-- 데이터 저장을 위한 기능 정의 -->
    <insert id="insertItem"
            parameterType="lab.spring.user.User">
            <!-- useGeneratedKeys="true"> --> <!-- ++pk -->
            <!-- keyProperty="deptno"> -->
        INSERT INTO userinfo (
            uno, userid, username, userpwd, email, phone
        ) VALUES (
            nvl(max(uno), 0)+1, #{userid}, #{username}, #{userpwd}, #{email}, #{phone}
        )
    </insert>

    <!-- 데이터 삭제를 위한 기능 정의 -->
    <delete id="deleteItem" parameterType="string">
        DELETE FROM userinfo WHERE uno=#{uno}
    </delete>

    <!-- 데이터 갱신을 위한 기능 정의 -->
    <update id="updateItem" parameterType="lab.spring.user.User">
        UPDATE userinfo SET
            email=#{email},
            phone=#{phone},
            address=#{address}
        WHERE userid=#{userid}
    </update>

</mapper>